.submit {
  background-image: url(../assets/mockup-concrete-wall-with-ornamental-plants-decoration-item-cabinet.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 735px;
}
